<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
 
  <connectionStrings>
    <clear />
    <add name ="ILNT1" providerName="U2.Data.Client" connectionString="Database=HCAC_SQL;User ID=dsiroot;Password=leasing;Server=ILNT1;ServerType=UNIDATA;RpcServiceType=udserver;FirstNormalForm=True"/>
	<add name ="HCINFOLEASE" providerName="U2.Data.Client" connectionString="Database=HCAC_SQL;User ID=dsiroot;Password=leasing;Server=HCINFOLEASE;ServerType=UNIDATA;RpcServiceType=udserver;FirstNormalForm=True"/>
    <add name ="HCOPSDB - Export" providerName="System.Data.SqlClient" connectionString="Data Source=HCOPSDB;Initial Catalog=Export;Integrated Security=True;"/>
	<add name ="HCWAREHOUSEDEV - Export" providerName="System.Data.SqlClient" connectionString="Data Source=HCWAREHOUSEDEV;Initial Catalog=Export;Integrated Security=True;"/>
	<add name ="HCVISION - Vision" providerName="System.Data.SqlClient" connectionString="Data Source=HCVISION;Initial Catalog=Vision;Persist Security Info=True;User ID=visionuser;Password=hcinm0tion"/>
	<add name ="HCVISION - VcFw" providerName="System.Data.SqlClient" connectionString="Data Source=HCVISION;Initial Catalog=VcFw;Persist Security Info=True;User ID=visionuser;Password=hcinm0tion"/>
	<add name ="GP - DYNAMICS" providerName="System.Data.SqlClient" connectionString="Data Source=HCGP;Initial Catalog=dynamics;Integrated Security=True;"/>
	<add name ="GP - HITCR" providerName="System.Data.SqlClient" connectionString="Data Source=HCGP;Initial Catalog=hitcr;Integrated Security=True;"/>
	<add name ="HCVISIONDEV - Vision" providerName="System.Data.SqlClient" connectionString="Data Source=HCVISIONDEV;Initial Catalog=Vision;Integrated Security=True;"/>
	<add name ="HCVISIONDEV - VcFw" providerName="System.Data.SqlClient" connectionString="Data Source=HCVISIONDEV;Initial Catalog=VcFw;Integrated Security=True;"/>
	<add name ="HCVISIONDEV - UATVision" providerName="System.Data.SqlClient" connectionString="Data Source=HCVISIONDEV;Initial Catalog=UATVision;Integrated Security=True;"/>
	<add name ="HCVISIONDEV - UATVcFw" providerName="System.Data.SqlClient" connectionString="Data Source=HCVISIONDEV;Initial Catalog=UATVcFw;Integrated Security=True;"/>
  </connectionStrings>
</configuration>