<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
 
  <connectionStrings>
    <clear />
    <add name="Infolease" providerName="U2.Data.Client" connectionString="Database=HCAC_SQL;User ID=xxx;Password=xxx;Server=HCINFOLEASE;ServerType=UNIDATA;RpcServiceType=udserver" />
    <add name ="Local SSISDB" providerName="System.Data.SqlClient" connectionString="Server=xps13\sqlexpress;Database=SSISDB;Trusted_Connection=True;"/>
  </connectionStrings>
</configuration>